<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
<h3>Edit products</h3>
<p>
    <a th:href="@{/products}">
        Back to products list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/products/update}"
          method="POST" novalidate="novalidate">

        <input type="hidden" th:field="*{product.id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{product.name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{product.price}"/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{product.quantity}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>